@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$cyan-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: dark;
  margin: 0;
  background: #0a0f1d;
  color: #f8fafc;
}